@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --Strong-cyan: hsl(172, 67%, 45%);

  /* ### Neutral */

  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(180, 33%, 94%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background: var(--Light-grayish-cyan);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin-top: 3rem;
}
main {
  margin-top: 2rem;
  background-color: var(--White);
  width: 100%;
  padding: 2rem 1rem;
  border-radius: 20px;
}
main > .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 24px;
  text-align: left;
}
.container > .total-bill,
.total-people {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  position: relative;
}
.total-bill > img {
  position: absolute;
  top: 46px;
  left: 15px;
}
label {
  color: var(--Dark-grayish-cyan);
  font-size: 1.2rem;
}
input[type="number"] {
  width: 100%;
  padding: 15px 10px;
  border: none;
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
  border-radius: 5px;
}
input[type="number"]:focus {
  border: 2px solid var(--Strong-cyan);
  outline: var(--Strong-cyan);
}
.dollar-img {
  width: 18px;
  object-fit: cover;
}

/* tip-side */

.container > .tips {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.tips > h4 {
  color: var(--Dark-grayish-cyan);
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
.tips > .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.9rem;
}
.grid > div {
  text-align: center;
  background-color: var(--Very-dark-cyan);
  color: white;
  padding: 12px 8px;
  font-size: 1.8rem;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}
.grid > div:hover {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
.grid > .custom {
  background-color: hsla(185, 41%, 84%, 0.842);
}
.grid > .custom:hover {
  background-color: hsla(185, 41%, 84%, 0.842);
}
.custom > input[type="number"] {
  height: inherit;
  background: none;
  font-size: 1.7rem;
  padding: 0;
  padding-right: 0.5rem;
}
.custom > input::placeholder {
  text-align: center;
  font-size: 1.6rem;
}
.custom > input:focus {
  outline: none;
  border: none;
}
/* Number of people */
.total-people > img {
  position: absolute;
  top: 48px;
  left: 15px;
}
/* Result-container */
.container > .result {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 30px;
  background-color: var(--Very-dark-cyan);
  border-radius: 20px;
}
.result > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.result > div > h1 {
  color: var(--Strong-cyan);
  font-size: 2.5rem;
}
.result > div > .tip-type > h4 {
  font-size: 1.4rem;
  color: var(--White);
}
.result > div > .tip-type > p {
  color: var(--Grayish-cyan);
  font-size: 1.2rem;
}
.result > .reset-btn {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  border: none;
  padding: 1.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}
.reset-btn:hover {
  background-color: var(--Light-grayish-cyan);
}
/* added classes */
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.space-between > p {
  font-size: 1rem;
  color: red;
}
.hide {
  display: none;
}
.invalid:focus {
  border-color: red !important;
}
